<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='./estilo.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Canciones</h1>
    <div>
        <a href="{{url_for('inicio')}}" id="agregar" >Inicio</a>
        <a href="{{url_for('agregarSala')}}" id="agregar" >Agregar</a>
    </div>
    <div>
        <table >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>capacida</th>
                    <th>ocupado</th>
                    <th>horaProxFuncion</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for salaCine in salasCine %}
                <tr>
                    <td>{{salaCine.idSala}}</td>
                    <td>{{salaCine.capacidad}}</td>
                    <td>{{salaCine.ocupado}}</td>
                    <td>{{salaCine.horaProxFuncion}}</td>
                    <td><a href="verSala/{{salaCine.idSala}}">ver</a></td>
                    <td><a href="editarSala/{{salaCine.idSala}}">Editar</a></td>
                    <td><a href="eliminarSala/{{salaCine.idSala}}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody> 
        </table>
    </div>
</body>
</html>